[production]
phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0
includePaths.library = APPLICATION_PATH "/../library"
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"
appnamespace = ""
resources.frontController.controllerDirectory = APPLICATION_PATH "/controllers"
resources.frontController.params.displayExceptions = 0

resources.layout.layoutPath = APPLICATION_PATH "/layouts/scripts/"
resources.db.adapter = "PDO_MYSQL"
resources.db.params.dbname = "example"
resources.db.params.host = "localhost"
resources.db.params.username = "example"
resources.db.params.password = "example"
resources.db.params.charset = "utf8"

resources.mail.transport.type       = Zend_Mail_Transport_Smtp
resources.mail.transport.host       = "smtp.example.com"
resources.mail.transport.port       = 587
resources.mail.transport.auth       = "login"
resources.mail.transport.ssl        = "tls"
resources.mail.transport.username   = "example"
resources.mail.transport.password   = "example"
resources.mail.defaultFrom.email    = "example@example.com"
resources.mail.defaultFrom.name     = "EpCtrl.com"

routes.overview.type = "Zend_Controller_Router_Route_Static"
routes.overview.route = ""
routes.overview.defaults.controller = index
routes.overview.defaults.action = index
routes.show.route = "show/:directory/*"
routes.show.defaults.controller = show
routes.show.defaults.action = index
routes.actions.route = "actions/:action/:directory/*"
routes.actions.defaults.controller = action
routes.actions.defaults.action = index
routes.ajax.route = "ajax/:action/*"
routes.ajax.defaults.controller = ajax

portal.title  = "EpCtrl.com"
portal.copyright = "Epctrl.com 2013"
portal.login.expire = 31536000
portal.cache.frontend.lifetime = 31536000
portal.cache.frontend.automatic_serialization = true
portal.cache.backend.cache_dir = APPLICATION_PATH "/../cache/"
portal.epguides.allshows = "http://epguides.com/common/allshows.txt"
portal.epguides.episodes = "http://epguides.com/common/exportToCSV.asp?rage="

; Iteration count for password hashing 4 <= iteration_count <= 31 (log2, eg. 2^8 = 256 iterations)
portal.password.iteration_count = 8
; Force weak crypt hashes
portal.password.portable = false

[staging : production]

[testing : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

[development : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
resources.frontController.params.displayExceptions = 1
